apiVersion: v1
kind: Config
preferences: {}
current-context: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes
  name: kubernetes
clusters:
- name: kubernetes
  cluster:
    server: {{ server }}
    certificate-authority: {{ certificate_authority }}
users:
- name: kubernetes
  user:
    client-certificate: {{ client_certificate }}
    client-key: {{ client_key }}
