apiVersion: v1
kind: Config
preferences: {}
current-context: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes
  name: kubernetes
clusters:
- name: kubernetes
  cluster:
    server: {{ server }}
    certificate-authority-data: {{ certificate_authority_data }}
users:
- name: kubernetes
  user:
    client-certificate-data: {{ client_certificate_data }}
    client-key-data: {{ client_key_data }}
